@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main: #f00;
  --boxShadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  transition: 0.1px ease-in;
}
*::selection {
  background: var(--main);
  color: #fff;
}
/* For Scrollbar  */
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background: var(--main);
}
::-webkit-scrollbar-track{
  background: #000;
}
body {
  color: #fff;
  background: linear-gradient(rgba(192, 117, 117, 0.3), rgba(0, 0, 0, 0.9)),
    url("/assets/rootBg.jpg") no-repeat !important;
  background-size: cover;
  backdrop-filter: blur(20px);
  width: 100%;
  min-height: 100vh;
}

/* For Loading  */
.Loading{
  width: 100%;
  height: 100lvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Loading div{
  width: 50px;
  height: 50px;
  border:4px solid #ccc;
  border-top:4px solid var(--main);
  border-radius: 999px;
  animation: Spinner 1s linear infinite;
}
@keyframes Spinner{
  from{
    transform: rotate(0);
  }
  to{
    transform: rotate(360deg);
  }
}
